WebApp/SQSalesToolCRM/App_Data/NetQuoteResponse.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 rel. 3 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="NetQuoteResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResponseCode" type="ResponseTypes"/>
				<xs:element ref="Distribution" minOccurs="0"/>
				<xs:element name="Errors" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Error" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Display" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Identifier" type="xs:string" use="optional"/>
			<xs:attribute name="ExternalIdentifier" type="xs:string" use="optional"/>
			<xs:attribute name="Date" type="xs:date" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Distribution">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="EntityID" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="SpecifiedStringType">
								<xs:attribute name="Type" type="DistributionEntityType"/>
								<xs:attribute name="Name" type="xs:string"/>
								<xs:attribute name="Encrypted" type="YesNo"/>
								<xs:attribute name="Key" type="xs:string"/>
								<xs:attribute name="Mode" type="AgentModeType"/>
								<xs:attribute name="DistributionID" type="xs:int" use="optional"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="GrossRevenue" type="xs:decimal" use="optional"/>
			<xs:attribute name="LeadDistributionCount" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Error">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Code" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="-1"/>
						<xs:enumeration value="-4"/>
						<xs:enumeration value="-8"/>
						<xs:enumeration value="-16"/>
						<xs:enumeration value="-32"/>
						<xs:enumeration value="-64"/>
						<xs:enumeration value="-128"/>
						<xs:enumeration value="-512"/>
						<xs:enumeration value="-1024"/>
						<xs:enumeration value="-2048"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Display">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Listing" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CompanyID" type="xs:int"/>
							<xs:element name="Name" type="xs:string"/>
							<xs:element name="City" type="xs:string"/>
							<xs:element name="State" type="xs:string"/>
							<xs:element name="Zip" type="xs:string"/>
							<xs:element name="Email" type="xs:string"/>
							<xs:element name="Phone" type="xs:string"/>
							<xs:element name="Website" type="xs:string"/>
							<xs:element name="MarketingInfo" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="DistributionEntityType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Company"/>
			<xs:enumeration value="Agent"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SpecifiedStringType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="YesNo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Yes"/>
			<xs:enumeration value="No"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AgentModeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Full"/>
			<xs:enumeration value="Numeric"/>
			<xs:enumeration value="Contact"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResponseTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Accepted"/>
			<xs:enumeration value="Rejected"/>
			<xs:enumeration value="Failed"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
